.rounded {
  border-radius: 10px !important;
}

.btn-primary.btn-vendor {
  color: #fff;
  background-color: rgba(129, 211, 248, 1);
  border: none;
}

.btn-outline-primary.btn-vendor {
  color: rgba(129, 211, 248, 1);
  background-color: #fff;
  border-color: rgba(129, 211, 248, 1);
}

.btn-primary.btn-vendordark {
  color: #fff;
  background-color: rgb(0, 123, 176);
  border: none;
}

input.form-control.underlined[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #aaaaaa;
  box-shadow: none;
  border-radius: 0;
}
input.form-control.is-invalid.underlined[type="text"] {
  border-bottom: 1px solid #dc3545;
}

input:focus.form-control.underlined[type="text"]  {
  box-shadow: 0 0.4rem 0.2rem -0.2rem rgba(0, 123, 255, 0.4);
}
input:focus.form-control.is-invalid.underlined[type="text"]  {
  box-shadow: 0 0.4rem 0.2rem -0.2rem rgba(220,53,69,.25);
}

::placeholder {
  color: #bbbbbb;
}
