<template>
  <button
    class="btn btn-primary btn-vendor form-control rounded"
    @click="addAnswer(answers)"
  >
    <octicon name="plus"/>
    Добавить ответ
  </button>
</template>

<script>
  export default {
    name: 'AddAnswer',
    props: {
      answers: Array
    },
    methods: {
      addAnswer (answers) {
        answers.push({
          text: '',
          nextQuestion: null
        })
      }
    }
  }
</script>
