
<template>
  <button
    class="btn btn-primary btn-vendordark rounded form-control mb-4"
    @click="addQuestion(questions)"
  >
    <octicon name="plus"/>
    Добавить вопрос
  </button>
</template>

<script>
  export default {
    name: 'AddQuestionButton',
    props: {
      questions: Array,
    },
    methods: {
      addQuestion (questions) {
        const newId = questions.length
          ? Math.max(...questions.map(question => question.id)) + 1
          : 0
        questions.push({
          id: newId,
          title: '',
          text: '',
          isVerbal: false,
          isRequired: false,
          answers: [],
          verbal: {
            nextQuestion: null
          }
        })
      }
    }
  }
</script>
