<template>
  <div class="btn-group btn-group-toggle">
    <button class="btn-vendor rounded-left"
      :class="getButtonClass(true)"
      @click="onVerbalToggle(true)"
    >
      Открытый вопрос
    </button>
    <button class="btn-vendor rounded-right"
      :class="getButtonClass(false)"
      @click="onVerbalToggle(false)"
    >
      Вопрос с вариантами
    </button>
  </div>
</template>

<script>
  export default {
    name: 'AnswerTypeSwitch',
    props: {
      question: Object
    },
    methods: {
      onVerbalToggle (isVerbal) {
        this.question.isVerbal = isVerbal
      },
      getButtonClass (isVerbalButton) {
        return {
          btn: true,
          'btn-primary': isVerbalButton == this.question.isVerbal,
          'btn-outline-primary': isVerbalButton != this.question.isVerbal
        }
      }
    }
  }
</script>

<style scoped>
  .rounded-left {
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
  }
  .rounded-right {
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }
</style>
