<template>
  <div class="row align-items-center">
    <div class="col-sm-12">
      <div class="row align-items-center">
        <div class="col-sm-3 text-right">
          Переход к:
        </div>
        <div class="col-sm-9">
          <QuestionSelect
            v-model="verbal.nextQuestion"
            :questions="questions"
            :currentQuestionId="currentQuestionId"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import QuestionSelect from './QuestionSelect'
  export default {
    name: 'AnswerVerbalEdit',
    components: { QuestionSelect },
    props: {
      verbal: Object,
      questions: Array,
      currentQuestionId: Number
    }
  }
</script>
