<template>
  <div class="row align-items-center form-group">
    <div class="col-sm-11">
      <div class="row align-items-center">

        <div class="col-sm-1 text-right text-nowrap p-0">
          Вариант {{index+1}}:
        </div>

        <div class="col-sm-5">
          <input v-model="answer.text" class="form-control underlined" type="text" />
        </div>

        <div class="col-sm-1 text-right text-nowrap p-0">
          Переход к:
        </div>

        <div class="col-sm-5">
          <QuestionSelect
            v-model="answer.nextQuestion"
            :questions="questions"
            :currentQuestionId="currentQuestionId"
          />
        </div>

      </div>
    </div>
    <div class="col-sm-1">
      <RemoveAnswer
        :answers="answers"
        :answer="answer"
      />
    </div>
  </div>
</template>

<script>
  import RemoveAnswer from './RemoveAnswer'
  import QuestionSelect from './QuestionSelect'
  export default {
    name: 'AnswerChoiceEdit',
    components: { RemoveAnswer, QuestionSelect },
    props: {
      answer: Object,
      answers: Array,
      questions: Array,
      currentQuestionId: Number,
      index: Number
    }
  }
</script>
