<template>
  <li class="list-group-item">
    <button class="btn btn-secondary">
      {{ answer.text }}
    </button>
    <span class="hint">
      произойдет переход к <
      <a
        v-if="answer.nextQuestion != null && questionsHash[answer.nextQuestion]"
        :href="`#${answer.nextQuestion}`"
      >
        {{ questionsHash[answer.nextQuestion].title }}
      </a>
      >
    </span>
  </li>
</template>

<script>
  import { makeHashById } from '../../utils/object'

  export default {
    name: 'AnswerChoiceView',
    props: {
      answer: Object,
      questions: Array
    },
    computed: {
      questionsHash () {
        return this.questions && makeHashById(this.questions)
      }
    }
  }
</script>

<style scoped>
.hint {
  color: gray;
}
</style>
