<template>
  <div>
    <textarea></textarea>
    <br />
    <button
      class="btn btn-secondary"
    >
      Далее
    </button>
    <span class="hint">
      произойдет переход к <
      <a
        v-if="verbal.nextQuestion != null && questionsHash[verbal.nextQuestion]"
        :href="`#${verbal.nextQuestion}`"
      >
        {{ questionsHash[verbal.nextQuestion].title }}
      </a>
        >
    </span>
  </div>
</template>

<script>
  import { makeHashById } from '../../utils/object'

  export default {
    name: 'AnswerVerbalView',
    props: {
      verbal: Object,
      questions: Array
    },
    computed: {
      questionsHash () {
        return this.questions && makeHashById(this.questions)
      }
    }
  }
</script>

<style scoped>
  .hint {
    color: gray;
  }
</style>
