<template>
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        {{ question.title }}
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        {{ question.text }}
      </div>
      <div
        v-if="question.isVerbal"
      >
        <AnswerVerbalView
          :verbal="question.verbal"
          :questions="questions"
        />
      </div>
      <div
        v-if="!question.isVerbal"
      >
        <ul class="list-group list-group-flush">
          <AnswerChoiceView
            v-for="(answer, index) in question.answers"
            :key="index"
            :answer="answer"
            :questions="questions"
          />
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import AnswerVerbalView from './AnswerVerbalView'
  import AnswerChoiceView from './AnswerChoiceView'
  export default {
    name: 'QuestionView',
    components: {AnswerVerbalView, AnswerChoiceView},
    props: {
      question: Object,
      questions: Array,
    }
  }
</script>

<style scoped>
  .card-title {
    font-weight: bold;
  }
  .card-body {
    padding: 8px;
  }
  .card-text {
    margin: 12px;
  }
</style>
