<template>
  <div
    :id="question.id"
  >
    <div class="row">
      <div class="col-sm-11">
        <QuestionEdit
          :question="question"
          :questions="questions"
        />
      </div>
      <div class="col-sm-1">
        <div class="row">
          <RemoveQuestionButton
            :questions="questions"
            :question-id="question.id"
          />
        </div>
      </div>
    </div>
  </div>
</template>


<script>
  import QuestionEdit from './QuestionEdit'
  import RemoveQuestionButton from './RemoveQuestionButton'

  export default {
    name: 'QuestionPreview',
    components: {QuestionEdit, RemoveQuestionButton},
    props: {
      question: Object,
      questions: Array
    },
    methods: {
      removeQuestion () {
        const removeQuestionIndex = this.questions.findIndex(question => question === this.question)
        this.questions.splice(removeQuestionIndex, 1)
      }
    }
  }
</script>
