<template>
  <select
    :value="value"
    @input="$emit('input', +$event.target.value)"
    class="form-control rounded"
  >
    <option
      v-for="question in allowedQuestions"
      :key="question.id"
      :value="question.id"
    >
      {{ question.title || `Вопрос №${question.id + 1}...` }}
    </option>
  </select>
</template>

<script>
  export default {
    name: 'QuestionSelect',
    props: {
      questions: Array,
      currentQuestionId: Number,
      value: Number
    },
    computed: {
      allowedQuestions() {
        return this.questions.filter(question => question.id !== this.currentQuestionId)
      }
    }
  }
</script>

<style scoped>

</style>
