<template>
  <div class="card shadow rounded bg-white p-3 mb-5">
    <div class="card-body">
      <div class="card-title">
        <div class="row">
          <input
            type="text"
            class="form-control underlined"
            v-model="question.title"
            :placeholder="`Заголовок вопроса №${question.id + 1}...`"
          />
        </div>
      </div>
      <div class="card-text">

        <div class="form-group">
          <div class="row">
            Текст:
          </div>

          <div class="row">
          <textarea
            class="form-control rounded"
            v-model="question.text"
            :placeholder="`Текст вопроса №${question.id + 1}...`"
          ></textarea>
          </div>
        </div>

        <div class="row form-group">
          <div class="col">
            <div class="row justify-content-start">
              <AnswerTypeSwitch
                :question="question"
              />
            </div>
          </div>
          <div class="col">
            <div class="row justify-content-end">
              <div class="mr-4">Обязательный вопрос:</div>
              <SwitchToggle
                v-model="question.isRequired"
              />
            </div>
          </div>
        </div>

        <div
          v-if="question.isVerbal"
        >
          <AnswerVerbalEdit
            :verbal="question.verbal"
            :questions="questions"
            :current-question-id="question.id"
          />
        </div>

        <div
          v-if="!question.isVerbal"
        >
          <AnswerChoiceEdit
            v-for="(answer, index) in question.answers"
            :key="index"
            :answer="answer"
            :answers="question.answers"
            :questions="questions"
            :current-question-id="question.id"
            :index="index"
          />
          <div class="row">
            <div class="col-12">
              <div class="row">
                <AddAnswer
                  :answers="question.answers"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import AnswerVerbalEdit from './AnswerVerbalEdit'
  import AnswerChoiceEdit from './AnswerChoiceEdit'
  import AddAnswer from './AddAnswer'
  import AnswerTypeSwitch from './AnswerTypeSwitch'
  import SwitchToggle from '../../components/SwitchToggle';

  export default {
    name: 'QuestionEdit',
    components: {SwitchToggle, AnswerVerbalEdit, AnswerChoiceEdit, AddAnswer, AnswerTypeSwitch},
    props: {
      question: Object,
      questions: Array
    }
  }
</script>
