<template>
  <div class="poll">
    <div
      v-for="question in questions"
      :key="question.id"
    >
      <QuestionPreview
        :questions="questions"
        :question="question"
      />
    </div>
    <div>
      <div class="row">
        <div class="col-11">
          <AddQuestionButton
            :questions="questions"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AddQuestionButton from './AddQuestionButton'
import QuestionPreview from './QuestionPreview'

export default {
  name: 'QuestionsList',
  components: { QuestionPreview, AddQuestionButton },
  props: {
    questions: Array
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

  .container {
    margin-bottom: 15px;
  }
</style>
