<template>
  <button
    type="button"
    class="btn btn-primary btn-vendor rounded"
    data-toggle="tooltip"
    title="Удалить вариант ответа"
    @click="removeAnswer(answers, answer)"
  >
    <octicon name="trashcan"/>
  </button>
</template>

<script>
  export default {
    name: 'RemoveAnswer',
    props: {
      answers: Array,
      answer: Object
    },
    methods: {
      removeAnswer (answers, answerToRemove) {
        const removeAnswerIndex = answers.findIndex(answer => answer === answerToRemove)
        answers.splice(removeAnswerIndex, 1)
      }
    }
  }
</script>

<style scoped>
button {
  margin: 2px;
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
  min-height: 30px;
  padding: 0;

}
.rounded {
  border-radius: 8px !important;
}
</style>
