
<template>
  <button
    class="btn btn-danger"
    title="Удалить вопрос"
    @click="removeQuestion(questions, questionId)"
  >
    <octicon name="trashcan"/>
  </button>
</template>

<script>
  export default {
    name: 'RemoveQuestionButton',
    props: {
      questions: Array,
      questionId: Number
    },
    methods: {
      removeQuestion (questions, questionId) {
        const removeQuestionIndex = questions.findIndex(question => question.id === questionId)
        questions.splice(removeQuestionIndex, 1)
      }
    }
  }
</script>
