<template>
  <button
    class="btn btn-primary btn-vendordark form-control mt-4 mb-4 rounded"
    @click="addPoll()"
  >
    Создайте новый опрос
  </button>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'AddPoll',
    methods: {
      ...mapActions({
        addPoll: 'Poll/createPoll'
      })
    }
  }
</script>
