<template>
  <div class="row">
    <div class="col-12">
      <div class="card rounded-0 shadow">
        <img src="../../assets/x5_logo.png" width="258" height="40">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'PollsHeader'
  }
</script>
