<template>
  <div>
    <PollsHeader/>
    <LoadingShade
      v-if="isLoading"
    />
    <div>
      <div class="row">
        <div class="col-12">
          <div class="container">
            <AddPoll/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <span class="pl-4 pr-4 outdashed">или</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mb-4">
          выберите один из созданных:
        </div>
      </div>
      <ErrorMessage
        v-if="getError"
        :error="getError"
      />
      <div class="col-12">
        <PollItem
          v-for="poll in polls"
          :key="poll.id"
          :poll="poll"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import PollItem from './PollItem'
  import PollsHeader from './PollsHeader'
  import AddPoll from './AddPoll'
  import ErrorMessage from '../../components/ErrorMessage'
  import LoadingShade from '../../components/LoadingShade'

  export default {
    created () {
      this.$store.dispatch('Polls/loadPolls')
      window.scrollTo(0, 0)
    },
    name: 'PollsList',
    components: {PollItem, PollsHeader, AddPoll, ErrorMessage, LoadingShade},
    computed: {
      ...mapGetters({
        polls: 'Polls/getPolls',
        isLoading: 'Polls/isLoading',
        getError: 'Polls/getError'
      })
    }
  }
</script>

<style scope>
  .outdashed {
  }
  .outdashed:before, .outdashed:after {
    content: '';
    display: inline-block;
    height: 0.4em;
    width: 25%;
    border-top: 2px dashed;
  }
  .outdashed:before {
    margin-right: 3em;
  }
  .outdashed:after {
    margin-left: 3em;
  }
</style>
