<template>
  <div
    class="card shadow mb-2 rounded clickable"
    @click="loadPoll(poll.id)"
  >
    <div class="card-body">
    <div
      class="row"
    >
      <div class="col-8">
        {{ poll.title }}
      </div>
      <div class="col-4">
        {{ formatPollDateRange(poll) }}
      </div>
    </div>
    </div>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'
  import { formatDateRange } from '../../utils/date'

  export default {
    name: 'PollItem',
    props: {
      poll: Object
    },
    methods: {
      ...mapActions({
        loadPoll: 'Poll/loadPoll'
      }),
      formatPollDateRange(poll) {
        return formatDateRange(poll.dateBegin, poll.dateEnd)
      }
    }
  }
</script>

<style scoped>
  .clickable {
    cursor: pointer;
  }
</style>
