<template>
    <div class="container">
      <BackgroundImage/>
      <PollEdit
        v-if="isPollEditorOpen"
      />
      <PollsList
        v-if="!isPollEditorOpen"
      />
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import BackgroundImage from './BackgroundImage'
  import PollsList from '../PollsList/PollsList'
  import PollEdit from '../PollEdit/PollEdit'

  export default {
    name: 'AppPage',
    components: {BackgroundImage, PollsList, PollEdit},
    computed: {
      ...mapGetters({
        isPollEditorOpen: 'Poll/isPollEditorOpen'
      })
    }
  }
</script>
