<template>
  <div id="background">
    <div class="imageswrapper">
      <div class="imgwrapper" id="d1">
        <img class="imgelement" id="i1" src="./../../assets/u1.svg">
      </div>
      <div class="imgwrapper" id="d2">
        <img class="imgelement" id="i2" src="./../../assets/u2.svg">
      </div>
      <div class="imgwrapper" id="d3">
        <img class="imgelement" id="i3" src="./../../assets/u3.svg">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'BackgroundImage'
  }
</script>

<style scoped>
  #background {
    float: right;
  }

  .imageswrapper {
    width: 1027px;
    position: relative;
  }

  .imgwrapper {
    border-width: 0;
    position: absolute;
  }

  .imgelement {
    border-width: 0;
    position: absolute;
  }

  #d1 {
    left: 0px;
    top: 1px;
  }
  #i1 {
    left: 0;
    top: 0;
    width: 1027px;
    height: 800px;
  }
  #d2 {
    left: 0px;
    top: 2px;
  }
  #i2 {
    left: 0px;
    top: 0px;
    width: 1024px;
    height: 798px;
  }
  #d3 {
    left: 249px;
    top: 407px;
  }
  #i3 {
    left: 0px;
    top: 0px;
    width: 775px;
    height: 393px;
  }
</style>
