<template>
  <div>
    <div class="row">
      <div class="col-12">
        <div class="card rounded-0 shadow mb-5">
          <div class="row p-2">
            <div class="col-1 text-center">
            </div>
            <div class="col-9 text-align text-center">
              <h1
                v-if="isNewPoll">
                Создание опроса
              </h1>
              <h1
                v-else
              >
                Редактирование опроса
              </h1>
            </div>
            <div class="col-2 text-right">
              <button
                class="btn btn-primary btn-check rounded"
                v-if="poll"
                @click="onSave()"
                :disabled="!isAllValid"
              >
                <octicon class="check" name="check" scale="2"/>
              </button>
              <button
                class="btn btn-primary btn-cancel rounded"
                @click="onCancel()"
              >
                <octicon name="x" scale="2"/>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <LoadingShade
      v-if="isLoading"
    />
    <ErrorMessage
      v-if="getError"
      :error="getError"
    />
    <div
      v-if="poll"
    >
      <div class="row align-items-center mb-2">
        <div class="col-2">
          Название опроса:
        </div>
        <div class="col-10">
          <input
            type="text"
            maxlength="128"
            placeholder="Название опроса..."
            class="form-control underlined"
            :class="titleInputClass"
            v-model="poll.title"
            required
          >
        </div>
      </div>
      <div class="row align-items-center mb-2">
        <div class="col-sm-2">
          Даты проведения с:
        </div>
        <div class="col-sm-4">
          <datepicker
            v-model="poll.dateBegin"
            :format="formatDate"
            :clear-button="true"
            :disabledDates="getDisableDatepickerDate(true)"
            :input-class="'rounded btn-outline-primary btn-vendor'"
          />
        </div>
        <div class="col-sm-1">
          по:
        </div>
        <div class="col-sm-5">
          <datepicker
            v-model="poll.dateEnd"
            :format="formatDate"
            :clear-button="true"
            :disabledDates="getDisableDatepickerDate(false)"
            :input-class="'rounded btn-outline-primary btn-vendor'"
          />
        </div>
      </div>

      <QuestionsList
        :questions="poll.data.questions"
      />
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import QuestionsList from '../QuestionsList/QuestionsList'
  import ErrorMessage from '../../components/ErrorMessage'
  import LoadingShade from '../../components/LoadingShade'
  import Datepicker from 'vuejs-datepicker';
  import { formatDate } from '../../utils/date'

  export default {
    created () {
      window.scrollTo(0, 0)
    },
    name: 'PollEdit',
    components: {QuestionsList, ErrorMessage, LoadingShade, Datepicker},
    computed: {
      ...mapGetters({
        poll: 'Poll/getPoll',
        isLoading: 'Poll/isLoading',
        getError: 'Poll/getError',
        isNewPoll: 'Poll/isNewPoll'
      }),
      isValidTitle() {
        return !!this.poll.title.match(/\S/);
      },
      titleInputClass() {
        return {
          'is-invalid': !this.isValidTitle
        }
      },
      isAllValid() {
        return this.isValidTitle
      }
    },
    methods: {
      ...mapActions({
        onSave: 'Poll/savePoll',
        onCancel: 'Poll/resetPoll'
      }),
      formatDate,
      getDisableDatepickerDate(isBegin) {
        if (isBegin) {
          return { from: this.poll.dateEnd };
        } else {
          return { to: this.poll.dateBegin};
        }
      }
    }
  }
</script>

<style scoped>
  .home {
    color: #f79937;
  }
  .btn-primary.btn-check {
    color: #fff;
    background-color: rgb(161, 206, 109);
    border: none;
  }
  .btn-primary.btn-cancel {
    color: #fff;
    background-color: rgb(248, 174, 167);
    border: none;
  }
</style>
