<template>
  <div class="card text-white bg-danger">
    <div class="card-header">
      Серверная ошибка
    </div>
    <div class="card-body">
      <div
        v-if="error.responseRecognitionError"
      >
        Ошибка распознавания ответа сервера: {{ `${error.responseRecognitionError}` }}
      </div>
      <div v-else-if="!error.response">
        Нет ответа от сервера
      </div>
      <div v-else>
        Статус: {{ error.response.status }}
        <div
          v-if="error.response.statusText"
        >
          Текст: {{ error.response.statusText }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ErrorMessage',
    props: {
      error: Error
    }
  }
</script>
