<template>
  <div class="modal-backdrop show">
    <div
      class="row text-center h-100 align-items-center"
    >
      <div class="col">
        <div
          class="spinner-border"
          role="status"
        >
          <span class="sr-only">Загрузка...</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'LoadingShade'
  }
</script>
