<template>
  <label class="switch">
    <input
      type="checkbox"
      :checked="value"
      @input="$emit('input', $event.target.checked)"
    >
    <span class="slider round"></span>
  </label>
</template>

<script>
  export default {
    name: 'SwitchToggle',
    props: {
      value: Boolean
    }
  }
</script>

<style scoped>
  .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 26px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: rgba(129, 211, 248, 1);
  }

  /*input:focus + .slider {*/
  /*  box-shadow: 0 0 1px #2196F3;*/
  /*}*/

  input:checked + .slider:before {
    transform: translateX(22px);
  }

  .slider.round {
    border-radius: 26px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

</style>
